.link_btn{
    padding: 0.5rem 1rem;
    color:#fff;
    background-color: #333;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.2s;
}

.link_btn:active{
    scale: 0.9;
}

.link{
    display: block;
    padding: 1rem 0;
    color: #ffffff;
    
}