.hero_sub_container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.hero_title {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #fff;
}

.hero_container {
  background-image: url(https://images.pexels.com/photos/6963098/pexels-photo-6963098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.overlay {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 21, 114, 0.247);
  height: 100vh;
  width: 100%;
}

.buttons_group{
  gap:1rem;
}



.hero_btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
  background-color: transparent;
  border: 0.2rem solid white;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}


.gt_btn:hover{
  background-color: #d87093a6;
  scale: 0.9;
}

.sign_btn:hover {
  background-color: #aaaeec91;
  scale: 0.9;

}