.errorPage_section{
    font-family:system-ui, sans-serif;
    background: #052da3;
    color: white;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.errorPage_wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.errorPage_wrapper h1{
    font-size: 5rem;
}

.errorPage_wrapper a{
    color:#da8e84;
    font-size: 2rem;
}