.container {
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.login_container {
    gap: 2rem;
    width: 1200px;
    height: 70vh;
    border: 1px solid #c5c5c5;
}

.login {
    width: 50%;
}

.user_container {
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.user_container select {
    padding: 0.5rem 1rem;
}

.login_info {
    background-color: #3955aa;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #eee;
}

.signup {
    background-color: #da8e84;
    color: #fff;
    font-weight: 800;
}

.input_group {
    height: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_group input {
    padding: 1rem 0.5rem;
    border: 1px solid #c5c5c5;
    width: 70%;
}

.submit-btn {
    background-color: #5050e6;
    color: #fff;

}

.submit-btn:hover {
    background-color: blue;
}