* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.flex {
  display: flex;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  transition: all 0.2s;
}